extends ../layouts/default

block content
  .row
    .col-md-6
      h3 Variable expenses burndown chart
      #this-month-container(style="width:100%; height:400px;")
    .col-md-6
      h3 Variable expenses by category
      #by-category(style='width: 100%; height: 400px;')
      span(style='font-size: 20px;') Total: #{total}
  .row
    .col-md-12
      h3 Fixed by months
      #fixed-month-container(style="width: 100%; height: 500px;")

block scripts
  script(type='text/javascript', src='/scripts/highcharts.js')
  script(type='text/javascript').
    $(function () {
      var actualExpenses = !{JSON.stringify(expensesByDay)};
      var plannedExpenses = !{JSON.stringify(plannedExpenses)};
      var actualData = actualExpenses.map(function (o) {
        return [Date.UTC(2016, 1, o.day), o.amount];
      });
      var plannedData = plannedExpenses.map(function (o) {
        return [Date.UTC(2016, 1, o.day), o.amount];
      });
      $('#this-month-container').highcharts({
          chart: {
              type: 'line'
          },
          title: {
              text: ''
          },
          xAxis: {
            type: 'datetime'
          },
          yAxis: {
              title: {
                  text: null
              }
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Actual',
              data: actualData
          }, {
              name: 'Planned',
              data: plannedData
          }]
      });
    });

    var categoryNames = !{JSON.stringify(categoryNames)};
    var categoryValues = !{JSON.stringify(categoryValues)};
    $('#by-category').highcharts({
      chart: {
        type: 'bar'
      },
      title: {
          text: ''
      },
      xAxis: {
        categories: categoryNames
      },
      yAxis: {
          min: 0,
          title: {
              text: null,
              align: 'high'
          },
          labels: {
              overflow: 'justify'
          }
      },
      tooltip: {
          valueSuffix: ' kr.'
      },
      plotOptions: {
          bar: {
              dataLabels: {
                  enabled: true
              }
          }
      },
      legend: {
        enabled: false
      },
      credits: {
          enabled: false
      },
      series: [{
          name: 'Expenses',
          data: categoryValues
      }]
    });

    $('#fixed-month-container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        xAxis: {
            categories: !{JSON.stringify(fixed.x)}
        },
        yAxis: {
            min: 0,
            title: {
                text: null
            }
        },
        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        series: !{JSON.stringify(fixed.g)}
    });
